@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: opensans;
    src: url('./fonts/OpenSans-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: opensans;
    src: url('./fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
  }
  @font-face {
    font-family: opensans;
    src: url('./fonts/OpenSans-Bold.ttf');
    font-weight: 700;
  }

  :root {
    --green: #06b995;
    --blue: #071b4d;
    --dark-blue: #232a34;
    --dark: #1a1a1a;

    --primary: var(--green);
    --primary-text: var(--dark);
    --navbar-bg: var(--dark-blue);
  }
  body,
  html {
    font-family: opensans !important;
    color: var(--dark);
  }
}

@layer components {
  .navbar-main {
    background: var(--navbar-bg);
    @apply h-16 flex items-center px-4 w-full;
  }
  .btn {
    @apply py-2 px-6 cursor-pointer transition-all font-semibold rounded-sm outline-none focus:outline-none;
  }
  .btn-primary {
    @apply text-white bg-green-600 hover:bg-green-500;
  }
  .btn-primary:disabled {
    @apply opacity-70 cursor-default;
  }
  .btn-light {
    color: inherit;
    @apply bg-transparent;
  }
  .searchbar {
    @apply h-11 w-full max-w-screen-sm;
  }
  .navbar-main-transparent {
    --navbar-bg: transparent;
  }
  .navbar-main-transparent .searchbar {
    @apply hidden;
  }
  .hero-main {
    min-height: 500px;
    height: 100%;
    /* min-height: 380px; */
    @apply bg-gray-100 px-4 z-0;
  }
  .hero-text {
    z-index: 1;
    @apply max-w-2xl;
  }
  .suggestion {
    @apply text-white flex text-sm;
  }
  .suggestion a {
    @apply mr-1 text-gray-300;
  }
  .photos-item:hover > .photo-items-action {
    @apply block;
  }
  .photo-items-action {
    @apply absolute bottom-2 left-0 right-0 h-14 hidden;
  }
  .photo-items-action .photo-item-action-bg {
    @apply bg-gradient-to-t from-gray-900 to-transparent opacity-60 absolute w-full h-full left-0 top-0 z-0;
  }
  .photo-items-action-profile img {
    @apply w-10 h-10 object-cover object-center;
    border-radius: 50%;
  }
  .input-field {
    @apply w-full bg-gray-50 p-3 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500;
  }
}

@layer utilities {
  .spr-container {
    @apply px-5;
  }
  .spr-home-container {
    @apply px-4 md:px-8 2xl:container 2xl:mx-auto min-h-screen;
  }
  .photos {
    @apply flex;
  }
  .photos-col {
    @apply flex-1;
    padding: 0 0.5em;
  }
  .photos-col:first-child {
    @apply pl-0 pr-0 sm:pr-2;
  }
  .photos-col:last-child {
    @apply pr-0;
  }
  .photos-item {
    @apply relative mb-3;
  }
  .avoid-nav {
    @apply pt-16;
  }
  .rounded-1\/2 {
    border-radius: 50% !important;
  }
}
